# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
dist-ssr/
*.local

# =========================
# Editor & OS files
# =========================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# Environment variables
# =========================
.env

# =========================
# Python / Backend
# =========================
.venv/
.python-version
__pycache__/
build/
dist/

# =========================
# Backend data (DO NOT COMMIT)
# =========================
*.db
Backend/uploads/

# =========================
# Test / Coverage
# =========================
.coverage
htmlcov/
